

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
       
        <i class='far fa-building' style='font-size:48px;color:white'></i>&nbsp;&nbsp;&nbsp;&nbsp;
  
         <ul class="navbar-nav">
          <li class="nav-item">
          <a routerLink="pendingRegistrations">Pending Registrations</a>&nbsp;&nbsp;&nbsp;&nbsp;

          </li>
          <li class="nav-item">
                <a routerLink="Allusers">All Users</a>&nbsp;&nbsp;&nbsp;&nbsp;
          </li>
          <li class="nav-item">
                <a routerLink="Allmangers">All Managers</a>&nbsp;&nbsp;&nbsp;&nbsp;
          </li>

         

          <li  class="nav-item">
                  <a routerLink="" (click)="Lout()">Log Out</a>
          </li>
      
         
        </ul>
     
</nav>

<br><br>
<div>
    <router-outlet></router-outlet>
</div>



 
      
      